<h1><%=@article.title%></h1>
<p>
  Autor: <%= @article.user.email %>
</p>
<p>
  Visitas: <%= @article.visits_count %>
</p>
<div>
  <%= @article.body %>
</div>
<div class="top-padding">
  <%=link_to "Editar articulo", edit_article_path%>
</div>