<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav class="be-blue white large-padding bold-font">
      <ul style="list-style-type: none" class="no-list row center-xs middle-xs">
        <li class="col-xs ">
          <h1 class="no-marging no-padding" id="logo"><%= link_to "BLOG ON RAILS", root_path %></h1>
        </li>
        <li class="col-xs bold-font">
          <%= link_to "Crear articulo", new_article_path %>
        </li>
        <li class="col-xs bold-font">
          Iniciar sesión
        </li>
        <li class="col-xs bold-font">
          Cerrar sesión
        </li>
      </ul>
      </nav>
  </header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
